body {
  display: block;
  margin: 0;
  font-family: $fontDefault;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.8em;
  text-transform: none;
  text-decoration: none;
  background-color: $colorBackground;
  color: #222;
}

.container {
  background-color: #fff;
  max-width: 800px;
  margin: 100px auto;
  padding: 25px 100px 0;
  border: solid 2px #eee;
}

.main {
  opacity: 0;
  animation: fadeContent 1000ms 600ms ease-in-out forwards;
}

@keyframes fadeContent {
  100% {
    opacity: 1;
  }
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

header {
  position: relative;
}

.clear::after {
  display: block;
  visibility: hidden;
  font-size: 0;
  height: 0;
  clear: both;
  content: '.';
}

.logo {
  width: 100%;
  text-align: center;
  margin: 40px 0;

  &__h1 {
    font-size: 60px;
    font-family: $fontDefault;
    font-weight: 400;
    font-style: normal;
    line-height: 1.2em;
    letter-spacing: 1px;
    margin: 0;
  }
}

nav {
  width: 100%;
  text-align: center;
  margin-top: 0px;
  display: inline-block;
  line-height: 1.6em;
}

.main-nav {
  &__bars {
    background-color: #fff;
    display: inline-block;
    line-height: 1.6em;
    padding: 0 32px;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 600;
    font-style: normal;

    > a {
      font-family: Helvetica;
      color: rgba(28, 28, 28, 0.7);
      display: inline-block;
      text-decoration: none;
      border: 2px solid transparent;

      &:hover {
        display: inline-block;
        color: #1c1c1c;
        border-bottom-style: solid;
        border-bottom-width: 2px;
        border-bottom-color: #eee;
      }
    }
  }

  &__child {
    display: inline-block;
    line-height: 1.6em;
    float: left;
    position: relative;
    margin-left: 24px;
    margin-right: 24px;
  }
}

.page-divider {
  line-height: 1.6em;
  margin-top: -1.6em;
  margin-bottom: 1.6em;
  font-size: 12px;
  border-bottom: solid 2px #eee;
}

section {
  margin-top: 52px;
  margin-bottom: 52px;
}

.h1 {
  color: rgba(28, 28, 28, 0.7);
  font-family: Helvetica;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

.h3 {
  color: rgba(28, 28, 28, 0.7);
  font-family: Helvetica;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0.5px;

  &--lighter {
    font-weight: lighter;
  }

  &--italic {
    font-style: italic;
  }

  &--uppercase {
    text-transform: uppercase;
  }

  &--cursive {
    font-family: cursive;
  }
}

.img {
  max-width: 100%;
  max-height: 80%;

  &:hover {
    cursor: pointer;
    opacity: 0.7;
  }
}

.imageContainer {
  display: flex;
  flex-direction: column;
}

.imageRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 8px 0;
}

.modal {
  display: flex; /* Hidden by default */
  align-items: center;
  justify-content: center;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  margin: 0 auto;

  &-content {
    max-width: 100%;
    max-height: 80%;  
  }
}

.separator {
  margin: 50px 100px;

  & > hr {
    color: #eee;
    background-color: #eee;
    height: 2px;
    margin: 0;
    border-style: none;
    border-width: 0;
  }
}

.content {
  margin-top: 20px;
}

.welcome-container {
  background-color: #fff;
  max-width: 800px;
  margin: 100px auto;
  padding: 0 100px;
  border: solid 2px #eee;  
}

.welcome-input {
  background: #FFFFFF;
  border: 1px solid #DBDBDB;
  border-radius: 8px;
  font-size: 16px;
  height: 44px;
  padding: 10px 55px;
  width: 100%;
}


.welcome-input::placeholder {
  color: #8d8ca0;
  opacity: 1;
}

.welcome-input:focus {
  outline: none;
  border-color: rgba(28, 28, 28, 0.7);
}