body {
  display: block;
  margin: 0;
  font-family: $fontDefault;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.8em;
  text-transform: none;
  text-decoration: none;
  background-color: $colorBackground;
  color: #222;
}

.container {
  background-color: #fff;
  max-width: 800px;
  margin: 100px auto;
  padding: 100px 100px 0;
  border: solid 2px #eee;
}

header {
  position: relative;
}

.clear::after {
  display: block;
  visibility: hidden;
  font-size: 0;
  height: 0;
  clear: both;
  content: '.';
}

.logo {
  width: 100%;
  text-align: center;

  &__h1 {
    font-size: 60px;
    font-family: $fontDefault;
    font-weight: 400;
    font-style: normal;
    line-height: 1.2em;
    letter-spacing: 1px;
    margin: 0;
  }
}

nav {
  width: 100%;
  text-align: center;
  margin-top: 40px;
  display: inline-block;
  line-height: 1.6em;
}

.main-nav {
  &__bars {
    background-color: #fff;
    display: inline-block;
    line-height: 1.6em;
    padding: 0 32px;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 600;
    font-style: normal;

    > a {
      font-family: Helvetica;
      color: rgba(28, 28, 28, 0.7);
      display: inline-block;
      text-decoration: none;
      border: 2px solid transparent;

      &:hover {
        display: inline-block;
        color: #1c1c1c;
        border-bottom-style: solid;
        border-bottom-width: 2px;
        border-bottom-color: #eee;
      }
    }
  }

  &__child {
    display: inline-block;
    line-height: 1.6em;
    float: left;
    position: relative;
    margin-left: 32px;
  }
}

.page-divider {
  line-height: 1.6em;
  margin-top: -1.6em;
  margin-bottom: 1.6em;
  font-size: 12px;
  border-bottom: solid 2px #eee;
}

section {
  margin-top: 52px;
  margin-bottom: 52px;
}

.h1 {
  color: rgba(28, 28, 28, 0.7);
  font-family: Helvetica;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

.h3 {
  color: rgba(28, 28, 28, 0.7);
  font-family: Helvetica;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.5px;

  &--lighter {
    font-weight: lighter;
  }

  &--italic {
    font-style: italic;
  }

  &--uppercase {
    text-transform: uppercase;
  }
}

.img {
  max-width: 100%;
  max-height: 100%;
}

.separator {
  margin: 50px 100px;

  & > hr {
    color: #eee;
    background-color: #eee;
    height: 2px;
    margin: 0;
    border-style: none;
    border-width: 0;
  }
}

.content {
  margin-top: 75px;
}
