.displayRow {
  display: flex;
  width: 100%;
}

.radioWrapper {
  display: flex;
  margin: 20px 0;
}

.rsvp-radio {
  margin-right: 20px;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 10px 0;
}

.guests-wrapper {
  display: flex;
  flex-direction: column;
}

.guests-container {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.guests {
  display: flex;
}

.guests-label {
  margin-right: 20px;
}

.guests-select {
  display: flex;
  outline: 0;
  cursor: pointer;
  height: 40px;
  width: 100px;
  padding: 0 12px;
  text-align: center;
  font-size: 16px;
}

.rsvp-form {
  color: rgba(28, 28, 28, 0.7);
  font-family: Helvetica;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  width: 400px;
}

.rsvp-input {
  width: 100%;
  padding: 12px;
  margin: 6px 0 4px;
  border: 1px solid #ccc;
  background: #fafafa;
  color: #000;
  font-family: sans-serif;
  font-size: 16px;
  line-height: normal;
  box-sizing: border-box;
  border-radius: 2px;
}

.rsvp-button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rsvp-button {
  color: #fff;
  background-color: #272727;
  border-color: #272727;
  padding: 14px 35px;
  font-size: 14px;
  cursor: pointer;
}